@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set core body defaults */


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}


/* styles/globals.css */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: url('/icons/background.jpg') 25%; /* Adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
}
/* Add any other global styles as needed */


h2 {
  font-size: 2rem;
}

/* styles/globals.css */
img {
  object-fit: contain !important;
}
