.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: static;
}


.h1 {
  margin-bottom: 0px;
}
.checkbox{
  width: 5px;
  height: 5px;
}
.explain {
  font-size: 1.125rem;
  max-width: 1200px;
}

.divider {
  width: 50%;
  border-color: white;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: white;
  margin-top: 64px;
  opacity: 0.25;
}

.nftBoxGrid {
  max-width: 98vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  display:grid;
  border-radius: 16px;
  border: 1px solid #ccc;
  min-height: 200px;
  padding: 16px;
  margin: 18px;
  backdrop-filter: blur(6px);
}
  
.optionSelectBox {
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: 30px;
  backdrop-filter: blur(6px);
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  color:white;
  margin-top: 0px;
}


 

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: auto;
    margin-top: 16px;
    background-color: transparent;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: auto;
    margin-top: 16px;
    background-color: transparent;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 16px 0;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  gap: 16px;
  backdrop-filter: blur(6px);
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.nftMedia {
  max-height: 200px;
  border-radius: 10px;
}

/* styles/DotPreloader.module.css */

.preloaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dotPreloader {
  display: flex;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 4px;
}

/* Add media queries for responsiveness as needed */
/* Navbar.module.css */
.navbar {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;/* Change this to your desired background color */
  border-radius: 1%;
  font-size: 25px;
  font-family: serif;
}

.logo img {
  width: 60px; /* Adjust the size as needed */
  position: inherit;
}

.navList {
  list-style: none;
  display: flex;
}

.navList li {
  margin-right: 15px;
}

.navList a {
  color: #fff;
  text-decoration: none;
}

.navList a:hover  {
  color: rgb(255, 7, 7);
  background-color: rgb(255, 254, 254, 0.2) ;
}

.button{
 margin-left: 190px !important;
 position: relative;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding-left: 200px; /* Adjust as needed */
    padding-right: 200px; /* Adjust as needed */
  }
  
  .button {
    margin-left: 0; /* Reset the margin for larger screens */
  }
}

@media screen and (min-width: 1440px) {
  .navbar {


    padding-left: 300px; /* Adjust as needed */
    padding-right: 300px; /* Adjust as needed */
  }
  
  .button {
    margin-left: 0; /* Reset the margin for larger screens */
  }
}

@media screen and (min-width: 2560px) {
  .navbar {
    padding-left: 400px; /* Adjust as needed */
    padding-right: 400px; /* Adjust as needed */
  }
  
  .button {
    margin-left: 0; /* Reset the margin for larger screens */
  }
}